<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Sample test Suite"  parllel=true>
   <test name = "tests">
      <classes>
         <class name = "com.training.sanity.tests.UFM_004_Registration" />
         <class name = "com.training.sanity.tests.UFM_004_Login" />
      </classes>
      </test>
</suite>	